.card-container{
  height: fit-content;
  width: 280px;
  background: -webkit-linear-gradient(271deg, #ff00e0 -33%, #05082C 43%, #050820 79%);

  padding: 40px 15px 50px;
  border-radius: 4px;
  margin: 3px 12px 3px 0;
  box-shadow: 4px 4px 3px #0a00003b;

  .img-container{
    display: flex;
    justify-content: center;
    height: 220px;
    width: auto;
    img{
      max-width:auto;
      max-height:100%;
    }
  }

  .text-content{
    padding: 10px 0 0;
    h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      color: rgb(118, 151, 136);
      color: #ff5959;
      font-weight: 900;
    }
    hr{
      width: 260px;
      border-width: 1px;
      border-color: #00cc8f27;
      margin: 0 auto 10px;
    }
    p{
      font-size: 18px;
      color: #fff;
      margin:10px auto 0;
      width: 260px;
      text-align: center;
      font-weight: 300;
      height: 44px;
    }
  }

  &:hover{
    transition: all 1s;
    background-image: linear-gradient(180deg, #d269fc -45%,#ff00b3 -33%, #05082C 43%, #050820 79%);
    cursor: pointer;
  }
}
