<!-- <div class="container-template">
  <div class="content">
    <div class="left-container">
      <h2>Eco Quiz</h2>
      <div class="texto-container">
        <p>Teste os seus conhecimentos!</p>
      </div>
    </div>

    <div class="right-container">
      <div class="div">
        <img src="../../../assets/Quiz-image.png" alt="" />
      </div>
      <button>Iniciar Quiz</button>
    </div>
  </div>
</div> -->

<div class="container-template">
  <h2>Eco Quiz</h2>
  <h3>Teste os seus conhecimentos!</h3>

  <div class="quiz-container">
    <img src="../../../assets/Quiz-image.png" alt="" />
    <div class="button">
      <button>INICIAR QUIZ</button>
    </div>
  </div>
</div>
