.card-container{
  height: fit-content;
  width: 320px;
  background-color: #014d44b9;
  padding: 40px 15px 50px;
  border-radius: 4px;
  margin: 3px 12px 3px 0;
  box-shadow: 7px 7px 3px #005a4e69;

  .img-container{
    display: flex;
    justify-content: center;
    height: 220px;
    width: auto;
    img{
      max-width:auto;
      max-height:100%;
    }
  }

  .text-content{
    padding: 10px 0 0;
    h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      color: rgb(118, 151, 136);
      color: #ff5959;
      font-weight: 900;
    }
    hr{
      width: 260px;
      border-width: 1px;
      border-color: #00cc8f27;
      margin: 0 auto 10px;
    }
    p{
      font-size: 18px;
      color: #fff;
      margin:10px auto 0;
      width: 260px;
      text-align: center;
      font-weight: 300;
      height: 44px;
    }
  }


  &:hover{
    margin: 0px 12px 6px 0;
    box-shadow: 7px 10px 3px #005a4e69;
    cursor: pointer;
  }
}
