*{
  transition: all 0.3s;
}

.background{
  // background-image: url(../../../assets/backgrounds/stacked-waves-blue2.svg);
  // background-color: #023466;
  // background-color: #9EB256;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  padding: 0 100px 0 200px;
  width: 100vw;
  max-width: 100vw;
  height: 600px;
  justify-content: center;
  align-content: center;
  position: relative;

  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .form-container{
      width: 650px;
      height: fit-content;

      box-shadow: 2px 2px 15px rgba(172, 172, 172, 0.795);
      border-radius: 5px;
      margin:10px;
      padding: 20px;
      font-family: 'Inconsolata', monospace;

      input{
        background-color:rgb(243, 242, 239);
      }
      textarea{
        background-color:rgb(243, 242, 239);
      }
      h2{
        color: #2db16b;
      }

      form{

        ::placeholder{
          font-weight: 400;
          color:#000000 ;
        }

        .input-style{
          box-sizing: border-box;
          padding:5px 4px;
          resize: none;
          border:1px solid #3fd98788;
          border-radius: 3px;
          width: 100%;
          font-weight: 400;
          font-size: 18px;
          margin-top:5px;
        }

        textarea:focus, input:focus{
          outline: none;
          border-color:#3fd987;
        }

        .buttons-container{
          display:flex;
          flex-direction: row;
          justify-content: space-between;

          button{
            padding: 10px 15px;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 1.4px;
            height: fit-content;
            margin-top: 15px;
          }
        }
      }
    }
  }












}

.recent-activities-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding:10px;
  .activities-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width:700px;
  .activities{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    max-width:700px;
    height: 330px;
  ul{
    width: 100%;
    li{
      box-sizing: border-box;
      list-style: none;
      font-size: 18px;
      background-color: #2db16b1f;
      border-radius:5px;
      margin: 1px 1px 4px;
      padding:2px 5px;
      width: 100%;
      max-width: 100%;
      .activity-description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 3px;
        .description-container{
          display: flex;
          flex-direction: column;
          .activity-description-header{
            display: flex;
            justify-content:space-between;
            align-items: flex-start;
            .delete-activity{
              display: flex;
              align-items: center;
              justify-content: center;
              width: fit-content;
              height: fit-content;
              margin: 0 1px;
              i{
                color: #103b2441;
                &:hover{
                  color: #0a2416d0;
                }
              }
            }
            .recomended{
              text-align: center;
              text-transform: uppercase;
              color: goldenrod;
              font-size: 13px;
              font-weight: 500;
              padding: 0 5px 0 0;
            }
          }
        }
        .time{
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin: 0 3px;
          height: fit-content;
          p{color: rgb(36, 39, 139)};
        }
      }
    }
  }
  }
}
}
.buttonUpDown{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  border-radius:100px;
  border: 2px solid #2db16b;
  width: 20px;
  height: 20px;
  i{color: #2db16b;}
  &:hover{
    background-color: #2db16b;
    i{
      color: rgb(255, 255, 255);
    }
    transition: all 0.3s;
    cursor: pointer;
  }
}

