<div class="container-template container-size">
  <h2>Adicione uma atividade realizada!</h2>
  <textarea
    placeholder="{{ placeholder_text }}"
    (mouseenter)="onPlaceholderHover()"
    (mouseleave)="onPlaceholderHover()"
    [(ngModel)]="ActivityTextValue"
  ></textarea>

  <div class="buttons-container">
    <div class="recent-activies-container">
      <div
        class="recent-activies-historic"
        *ngIf="isActiviesHistoricOpen === true"
      >
        <p *ngFor="let item of activiesList">
          descrição:{{ item.activity }} created:{{ item.created }}
        </p>
      </div>
      <div class="recent-activities-button" (click)="onActiviesButton()">
        <a> {{ activiesButtonText }} </a>
      </div>
    </div>
    <button (click)="createActivity()">ADICIONAR</button>
  </div>
</div>
