<div class="body-content">
  <div class="learn-area-container">
    <div class="shadow"></div>
    <div class="content">
      <div class="cards">
        <app-eco-quiz></app-eco-quiz>
        <app-learn-with-eco></app-learn-with-eco>
      </div>

      <div class="text-container">
        <h2>ECO AULAS E ECO QUIZES</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti debitis quos, vero aperiam corporis quas
          architecto voluptatem dolorem, nam numquam voluptatum ullam inventore? Fuga cupiditate illum eaque unde
          ratione.
          Consequatur?
        </p>
      </div>
    </div>
  </div>

  <app-recomended-missions></app-recomended-missions>
  <app-add-activity></app-add-activity>
</div>
