<div class="body-content">
  <app-recomended-missions></app-recomended-missions>
  <div class="learn-area">
    <div class="content">
      <app-eco-quiz></app-eco-quiz>
      <app-learn-with-eco></app-learn-with-eco>
      <div class="text">
        <h2>ECO AULAS E ECO QUIZES</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti debitis quos, vero aperiam corporis quas
          architecto voluptatem dolorem, nam numquam voluptatum ullam inventore? Fuga cupiditate illum eaque unde
          ratione.
          Consequatur?</p>
      </div>
      <img src="../../../assets/characters/handy-friends-speech-bubbles.png" class="character" alt="">
    </div>
  </div>
  <app-add-activity></app-add-activity>
</div>
