.body-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}

.learn-area{
  box-sizing: border-box;
  background-color: #012346;
  background-image: url(../../../assets/background-imgs/stacked-peaks-green.svg);
  background-size: auto 100%;
  width: 100vw;
  min-height: 650px;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:0 100px;
}

.character{
  width: 550px;
  padding: 0 10px;
}
