// cores
// #009245
// #3AF08F
// #3FD987
// #3AF08F
// #37E688

*{
  margin: 0;
  padding:0;
  color: black;

  font-family: 'Inconsolata', monospace;
}

html{
  background-color:rgb(255, 255, 255);

}

h2{
  margin-bottom:30px;
}

h3{
color:#2db16b ;
  margin: 3px 0 0px;
}

.container-template{
  background-color: rgb(255, 255, 255);

  box-shadow: 1px 1px 5px rgb(146, 146, 146);
  max-width: 90vw;
  border-radius: 5px;

  margin:10px;
  padding: 20px;
}

.container-size{
  width: 900px;
}

.card-size{
  width: 300px;
}

button{
  font-family: 'Inconsolata', monospace;
  border: 2px solid #3FD987;
  border-radius: 7px;
  background-color: #fff;
  color: #3FD987;
  font-size: 30px;
  font-weight: 600;

  &:hover{
    background-color: #3FD987;
    color: white;

    transition: all 0.3s;
    cursor: pointer;
  }
}

.big-button{
  width: 300px;
  height: 60px;
}
