<!-- <div class="default-container recomended-missions-container-new">
  <div class="default-content-container recomended-missions">

  </div>
</div>

 -->
<div class="container-test">
  <div class="content-test">
    <h2>Realize Missões Recomendadas</h2>
    <p>Realize missões simples das quais recomendamos, para ganhar mais pontos!</p>
  </div>
</div>


<div class="background">

  <div class="content">
    <img src="../../../assets/fun-icons/handy-yellow-paper-airplane.png" alt="" class="decoration1">
    <img src="../../../assets/fun-icons/handy-yellow-paper-airplane.png" alt="" class="decoration2">
    <img src="../../../assets/fun-icons/handy-yellow-paper-airplane.png" alt="" class="decoration3">
    <img src="../../../assets/fun-icons/handy-yellow-paper-airplane.png" alt="" class="decoration4">
    <img src="../../../assets/fun-icons/handy-yellow-paper-airplane.png" alt="" class="decoration5">

    <div class="text">
      <h2>Realize missões recomendadas</h2>
      <p>Com o conhecimento adqurido nas eco-aulas realize nossas missões recomendadas fora do computador e volte aqui
        para resgatar seus pontos de experiência.</p>
      <p>Todas as suas atividades recomendadas realizadas ficam armazenadas no seu histórico logo abaixo!</p>
    </div>
    <div class="recomended-missions-container" *ngIf="user$ | async as user">
      <h2>Missões recomendadas</h2>
      <ng-container *ngIf="recomendedActivities.length != 0; else noRecomendedActivities">
        <div *ngFor="let item of recomendedActivities; let i = index">
          <div class="recomended-mission" *ngIf="i <= 2">
            <h3>{{item.title}}</h3>
            <div class="mission__content">
              <p class="mission__description">
                {{item.description}}
              </p>
              <p class="xp">{{item.xp}}xp</p>
              <a class="mission__add-button" (click)="saveMissionOnProfile(user, item)">+</a>
            </div>
          </div>
        </div>
        <p class="alert">Realize estas atividades fora do computador e depois adicione-as para ganhar pontos!</p>
      </ng-container>

      <ng-template #noRecomendedActivities>
        <div id="noActivities">
          <p>Parabéns, você completou todas as atividades recomedadas! volte mais tarde para realizar novas
            atividades</p>
        </div>
      </ng-template>
    </div>

    <img src="../../../assets/characters/handy-joyful-earth.png" class="earth-character" alt="">
  </div>
</div>
