<div class="container-template container-size">
  <h2>Missões recomendadas</h2>
  <div class="recomended-mission">
    <h3>Missão 1</h3>
    <div class="mission__content">
      <p class="mission__description">
        Jogue o lixo nas latas reciclaveis corretas
      </p>
      <p class="mission__xp-value">30xp</p>
      <a class="mission__add-button">+</a>
    </div>
  </div>

  <div class="recomended-mission">
    <h3>Missão 2</h3>
    <div class="mission__content">
      <p class="mission__description">Plante uma plantinha em sua casa</p>
      <p class="mission__xp-value">100xp</p>
      <a class="mission__add-button">+</a>
    </div>
  </div>

  <div class="recomended-mission">
    <h3>Missão 3</h3>
    <div class="mission__content">
      <p class="mission__description">
        Coloque um pote com água potável para algum animal de rua
      </p>
      <p class="mission__xp-value">30xp</p>
      <a class="mission__add-button">+</a>
    </div>
  </div>
</div>
