// cores
// backkground-color: #009245;
// backkground-color: #3AF08F;
// backkground-color: #3FD987;
// backkground-color: #3AF08F;
// backkground-color: #37E688;

.container-test{


  width: 100%;
  padding: 60px 0;
}

.content-test{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}





.default-container{
  width: 100%;
  margin: 0 auto;
  height: 500px;
}

.recomended-missions-container-new{
  background-image: url(../../../assets/background-imgs/layered-waves-blue-no-bg.svg);
  background-color: #001220;
  background-position: bottom;
  background-repeat: no-repeat;
}

.default-content-container{
  width: 1171px;
  padding:100px 0;
}


.recomended-missions{

}























.background{

  box-sizing: border-box;

  background-size: auto 100%;
  max-width: 100vw;
  width: 100vw;
  min-height: 700px;
  height:35vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;


  .content{
    .decoration1{
      position: absolute;
      width: 100px;
      left: 80px;
      bottom:65px;
    }
    .decoration2{
      position: absolute;
      width: 85px;
      left: 200px;
      top:-5px;
    }
    .decoration3{
      position: absolute;
      width: 90px;
      left: -120px;
      bottom:105px;
    }
    .decoration4{
      position: absolute;
      width: 60px;
      left: 250px;
      bottom:120px;
    }
    .decoration5{
      position: absolute;
      width: 50px;
      left: 420px;
      top:-20px;
    }
    .earth-character{
      position: absolute;
      // visibility: hidden;
      width: 200px;
      left: 310px;
      bottom:-100px;
      z-index: 0;
    }

    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: auto;
    position: relative;

    max-width: 1170px;
    width: 100%;

    .text{
      position: relative;
      z-index: 4;
      text-shadow: 2px 2px 4px rgb(0, 0, 0);

      min-width: 300px;
      width: 45%;
      margin: 24px 50px 0 0;

      h2{
        font-size: 25px;
        text-transform: uppercase;
        color:rgb(0, 0, 0);
        margin: 0 0 30px;

      }

      p{
        font-size: 17px;
        color:rgb(0, 0, 0);
        font-weight: 400;
        margin: 0 0 15px 0;
        text-shadow:
        1px 1px 1px rgba(0, 0, 0, 0.377),
        1px 1px 3px rgba(0, 0, 0, 0.384),
        1px 1px 5px rgba(0, 0, 0, 0.521),
        -1px -1px 5px rgba(0, 0, 0, 0.589)
        ;
        display: flex;
      }
    }

  }

  .recomended-missions-container{
    position: relative;
    // box-shadow: 7px 7px 3px #0108115d;
    min-height: 300px;
    background-color: none;
    width: 650px;
    height: fit-content;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    padding: 20px 0;
    font-family: 'Inconsolata', monospace;

    h2{
      font-size: 25px;
      text-align: center;
      color:#3a93ff;
      font-weight: 800;
      text-transform: uppercase;
      // text-shadow: 1px 1px 4px#000000;
      margin: 0 0 30px;
    }
    p{
      color: rgb(0, 0, 0);
    }

    .recomended-mission{
      font-size: 18px;
      font-weight: 300;
      font-family: 'Inconsolata', monospace;
      padding: 5px 10px 0;
      margin:3px 0 0;
      height: 62px;
      border-style: unset;
      border:2px solid #011125;
      border-color: #0b43868a;
      border-radius: 4px;
      box-shadow: 2px 2px 6px #0000007e;
      background-color: rgba(0, 140, 255, 0.068);
        .xp{
          color: rgb(0, 0, 0);
        }

        hr{
          margin: 2px 0 6px;
          border-width: 1px;
          border-style: solid;
          border-color: #0b43868a;
        }

      h3{
        text-transform: lowercase;
        color:#a7cfff;
        font-size: 18px;
        font-weight: 600;
        margin: 1px 0 0;
      }

      .mission{
        &__content{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding:0 0 10px;
        }
        &__description{
          width: 80%;
          font-size: 15px;
          font-weight: 300;
          // text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
          text-transform: lowercase;
        }
        &__add-button{
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 29px;

          color: rgb(0, 0, 0);
          border-radius:100px;
          border: 2px solid #517fb6;
          width: 23px;
          height: 23px;

          &:hover{
            background-color: #517fb6;
            color: rgb(0, 0, 0);
            transition: all 0.3s;
            cursor: pointer;
          }
        }
      }

      &:hover{
        background-color: #001c33;
      }
    }
  .alert{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    z-index: 10;
    color: rgba(255, 255, 255, 0.808);
    text-align: center;
    font-weight: 500;
    font-size:16px;
  }
}
}
#noActivities{
display: flex;
justify-content: center;
align-items: center;
margin: 100px 0 0;
    p{
      font-size: 17px;
      text-align: center;
      color: rgb(0, 0, 0);
    }
}
